.center {
    text-align: center;
}
.button {
    background-color: #fff;
    border: solid 2px #191970;
    color: #191970;
    border-radius: 20px;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    box-shadow: 0 5px 0 #191970;
    display: inline-block;
    transition: .3s;
    width: 500;
    height: 1000;
  }
  .button:hover {
    color: #191970;
    transform: translateY(5px);
    box-shadow: 0 0 0 #191970;
  }
  #contents{
    height:600px;
  }
  h1{
    text-align:center;
  }
.bordernone {
    text-decoration:none;
}
html {
  font-family: 'Arial','Courier New', Courier, monospace;
}
.reader {
  color: red;
}
.subreader {
  color: blue;
}
.button01 {
  background-color: #2f4f4f;
  color: #fff;
  padding: 10px 30px;
  text-decoration: none;
  font-size: 1em;
}
.button01:hover {
  color: #fff;
  opacity: 0.8;
}
